<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/default_layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div layout:fragment="content" class="container">
        <h5 class="my-3 border-bottom pb-2">질문등록</h5>
        <form th:action="@{/question/create}" th:object="${questionFormDto}" method="post">
            <div th:replace="fragments/form_errors :: formErrorsFragment"></div>
            <div class="mb-3">
                <label for="subject" class="form-label">제목</label>
<!--                th:field="*{}" -> id, name, value 속성이 모두 자동으로 생성되고 타임리프가 value 속성에 기존 값을 채워 넣어 오류가 발생하더라도 기존에 입력한 값이 유지된다.-->
                <input type="text" th:field="*{subject}" id="subject" class="form-control">
            </div>
            <div class="mb-3">
                <label for="content" class="form-label">내용</label>
                <textarea th:field="*{content}" id="content" class="form-control" rows="10"></textarea>
            </div>
            <input type="submit" value="저장하기" class="btn btn-primary my-2">
        </form>
    </div>
</body>
</html>